body
{
	background-image:url("../img/fondo2");	
        background-repeat : no-repeat; 
        background-position : center; 
        background-attachment : fixed; 
  	background-size: 100%;
}
#content
{
	width: 50%;
	text-align: justify;
	border: 1px solid white;
	border-radius: 5px;
	margin: auto;
	margin-top: 150px;
	padding-bottom: 100px;
	color: white;
}
#content a
{
	color: white;
}
.codigo
{
	margin-left: 31px;
	margin-top: 70px;
        background:darkgray;
        border-color: darkgray;
}

.nombre
{	
	margin-top: 10px;
	margin-left: 26px;
        background: darkgray;
        border-color:darkgray;
}

.descripcion
{
	margin-top: 10px;
}

.categoria
{
	margin-top: 10px;
	margin-left: 17px;
}
.cantidad
{
	margin-top: 10px;
	margin-left: 21px;
        background: darkgray;
        border-color: darkgray;
}
.precio
{
	margin-top: 10px;
	margin-left: 37px;
        
}
.tabla1
{   
    margin-top:200px;
    float:left;
}
.buscar
{
    margin-left: -300px;
    margin-top:0px;
    position:absolute;
}
.dos
{
    margin-left: -260px;
    margin-top:-100px;
    margin-bottom: -10px;
    color:white;
    position:relative;

}
.cuatro:hover
{
    font-size: 15px;
    
}
.cuatro:visited
{
    font-size: 15px;
}
.cuatro
{
    margin-left: -255px;
    margin-top: 15px;
    position: absolute;
    text-decoration: none; 
    color:white;
}

.submits
{
	display: inline-block;
	margin-top: 50px;
	margin-left: -250px;
	position: absolute;
	clear: fixed;
}