body
{
	background-image:url("../img/fondo2");	
        background-repeat : no-repeat;
        background-position : center; 
        background-attachment : fixed; 
  	background-size: 100%;
}
#content
{
	width: 50%;
	text-align: justify;
	border: 1px solid white;
	border-radius: 5px;
	margin: auto;
	margin-top: 150px;
	padding-bottom: 100px;
	color: white;
}
#content a
{
	color: white;
}
.cliente
{
	margin-left: 10px;

}
select
{
    margin-top: 50px;
}
.producto
{	
	margin-top: 30px;
	margin-left: 10px;
        margin-right: 13px;

}

.cantidad
{
	margin-top: 10px;
	margin-left: 10px;
        margin-right: 18px;
}

.submits
{
	
	margin-top: 10px;
	margin-left: -30px;
	position: absolute;
        clear-fix: both;
}